.item {
  background: white;

  border: solid;
  border-color: lightgray;
  border-width: 1px;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 0.5fr 1fr 0.1fr;

  margin: 10px;
  width: 25em;
}

.text-section {
  text-align: left;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.description {
}

.thumbnail {
  width: auto;
  height: auto;

  margin: 10px;

  background: red;
}

.corner-button {
  margin: 10px;
  margin-left: auto;
  margin-bottom: auto;

  display: inline-block;

  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;

  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: lightgray;
}
